<section
  class="hero is-fullheight"
  style="background-image: url({{path}}); background-size: 100%; background-repeat: no-repeat;"
>
  <div>
    <div class="hero-body">
      <div class="container">
        <div class="title has-text-white">Kayıt Ol</div>

        <div class="columns is-centered">
          <div class="column is-5-tablet is-5-desktop is-4-widescreen">
            <form id="register-form" class="box">
              <div class="field">
                <label for="" class="label field-label-">Kullanıcı Adı</label>
                <div class="control has-icons-left">
                  <input
                    type="text"
                    placeholder="Kullanıcı adı"
                    class="input"
                    required
                  />
                  <span class="icon is-small is-left">
                    <ng-icon name="hero-user"></ng-icon>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label field-label-">İsim</label>
                <div class="control has-icons-left">
                  <input
                    type="text"
                    placeholder="İsim"
                    class="input"
                    required
                  />
                  <span class="icon is-small is-left">
                    <ng-icon name="hero-bookmark"></ng-icon>
                  </span>
                </div>
              </div>
              <div class="field">
                <label for="" class="label field-label-">E-Posta</label>
                <div class="control has-icons-left">
                  <input
                    type="email"
                    placeholder="123@gmail.com"
                    class="input"
                    required
                  />
                  <span class="icon is-small is-left">
                    <ng-icon name="hero-mail"></ng-icon>
                  </span>
                </div>
              </div>
              <div class="columns" >
                <div class="column">
                  <div class="field">
                    <label for="" class="label field-label-">Parola</label>
                    <div class="control has-icons-left">
                      <input
                        type="password"
                        placeholder=" Örnek : ********"
                        class="input"
                        required
                      />
                      <span class="icon is-small is-left">
                        <ng-icon name="hero-lock-closed"></ng-icon>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="column ">
                  <div class="field">
                    <label for="" class="label field-label-">Parolayı Doğrulayınız</label>
                    <div class="control has-icons-left">
                      <input
                        type="password"
                        placeholder=" Örnek : ********"
                        class="input"
                        required
                      />
                      <span class="icon is-small is-left">
                        <ng-icon name="hero-lock-closed"></ng-icon>
                      </span>
                    </div>
                  </div>
                </div>
                
              </div><div class="field is-grouped">
                  <div class="control">
                    <button class="button is-primary is-medium" type="submit">
                      Kayıt Ol
                    </button>
                  </div>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
